@import url("https://fonts.googleapis.com/css?family=Oxanium|PT+Mono&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: PT Mono, sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: #e8e8e8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23161616' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: dodgerblue;
  --select-color: dodgerblue;
  --success: rgb(15, 158, 2);
  --danger: rgb(214, 23, 23);
}

.game-container {
  width: 53rem;
  height: 75rem;
  border: 1px  solid black;
  margin-top: 4rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.game-container > .title {
  font-size: 3.5rem;
  color: white;
  background-color: var(--primary-color);
  text-align: center;
  padding: 2rem 0;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .7);
}

.selection-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 9rem;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  width: 90%;
  font-size: 2.5rem;
  font-family: inherit;
  padding: 1.5rem 0;
  border: none;
  color: white;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.start:hover {
  filter: brightness(1.2);
}